:root
{
    --cell-size: 50px;
    --cell-font-size: 2rem;
    --key-width: 40px;
    --key-font-size: 1.25rem;
}

html {
    height: 100%;
}
body {
    height: 100%;
    color: black;
    text-align: justify;
}
nav {
    font-family: 'Zilla Slab', serif;
    height: 65px;
    font-size: 32px;
    border-bottom: solid 1px #313131;
    background-color: white;
}
[data-bs-theme="dark"] nav
{
    background-color: #171717;
    color: #ffffff;
}
.navbar-nav{
    min-width: 100%;
}
.offcanvas{
    font-family: 'Zilla Slab', serif;
    padding: 15px;
}
.d1{
    padding: 10px 0px;
    border-top: 1px solid #000;
}
[data-bs-theme="dark"] .d1{
    border-top: 1px solid #fff;
}
a{
    text-decoration: none;
}
[data-bs-theme="dark"] i{
    color: #fff;
}
p{
    color: #000;
}
[data-bs-theme="dark"] p
{
    color: #fff;
}
.gamemode-link{
    color: #000;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--bs-tertiary-bg);
    box-sizing: border-box;
}
.gamemode-link:not(.active):hover{
    background-color: #d7d7d7;
}
.gamemode-link i
{
    font-size: 3rem;
    display: inline-block;
}
.gamemode-link p
{
    font-size: 1.5rem;
    margin-bottom: 0;
}
.gamemode-link.active
{
    border: 2px solid var(--bs-emphasis-color);
    cursor: default;
}
[data-bs-theme="dark"] .gamemode-link.active
{
    border: 2px solid white;
}
[data-bs-theme="dark"] .gamemode-link:not(.active):hover
{
    background-color: var(--bs-secondary-color);
}

.row{
    width:100%;
    margin: 0px;
}
.side-menu{
    width: 375px;
    height: 100%;
}
.game-position{
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.game-board{
    display: grid;
    justify-content: center; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game-column{
    width: var(--cell-size);
    height: var(--cell-size);
    font-size: var(--cell-font-size);
    display: block;
    margin: 2px;
    background-color: #f0f0f0;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    display: grid;
    place-items: center;
}
[data-bs-theme="dark"] .game-column
{
    background-color: #171717;
    color: #ffffff;
}
.correct-place{
    background-color: #71c24e !important;
    color: #ffffff;
}
.wrong-place{
    background-color: #ceaa31 !important;
    color: #ffffff;
}
.wrong{
    background-color: #484848  !important;
    color: #ffffff;
}
.nav-link
{
    cursor: pointer;
}

#settings .modal-header, #settings .modal-footer
{
    justify-content: center;
}

.modal-body
{
    font-size: 1.25rem
}

[data-bs-theme="dark"] .modal-body
{
    color: white;
}

.modal
{
    --bs-modal-width: 350px;
}

.form-switch
{
    padding-left: 0;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}

.form-switch input
{
    justify-self: end;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    :root
    {
        --cell-size: 40px;
        --cell-font-size: 1.5rem;
        --key-width: 30px;
        --key-font-size: 1rem;
    }
    .gamemode-link i
    {
        font-size: 2rem;
    }
  }