html {
    height: 100%;
}
body {
    height: 100%;
    color: black;
    text-align: justify;
}
nav {
    font-family: 'Zilla Slab', serif;
    height: 65px;
    font-size: 32px;
    border-bottom: solid 1px #313131;
}
[data-bs-theme="dark"] nav
{
    background-color: #171717;
    color: #ffffff;
}
.navbar-nav{
    min-width: 100%;
}
.row{
    width:100%;
    margin: 0px;
}
.side-menu{
    width: 375px;
    height: 100%;
}
.game-position{
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.game-board{
    display: grid;
    justify-content: center; 
}
.game-column{
    width:50px;
    height: 50px;
    font-size: 2rem;
    display: block;
    margin: 2px;
    background-color: #f0f0f0;
}
[data-bs-theme="dark"] .game-column
{
    background-color: #171717;
}
.correct-place{
    background-color: #71c24e !important;
    color: #ffffff;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    display: grid;
    place-items: center;
}
.wrong-place{
    background-color: #ceaa31 !important;
    color: #ffffff;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    display: grid;
    place-items: center;
}
.wrong{
    background-color: #313131  !important;
    color: #ffffff;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    display: grid;
    place-items: center;
}
.nav-link
{
    cursor: pointer;
}

#settings .modal-header, #settings .modal-footer
{
    justify-content: center;
}

[data-bs-theme="dark"] .modal-body
{
    color: white;
}

.modal
{
    --bs-modal-width: 350px;
}

.form-switch
{
    padding-left: 0;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
}

.form-switch input
{
    justify-self: end;
    cursor: pointer;
}